h1 {
  position: relative;
}

.hamburger_container {
  position: absolute;
  top: calc(17% - 5px);
  left: calc(50% + 2vw);
  background-color: #d14657;
  width: calc(30px + 2vw + 2px);
  height: calc(30px + 2vw + 2px);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  transition: 0.2s ease-in-out;
  animation: pulse 3s ease-in-out infinite;
}
.hamburger_container .fa-bars {
  color: #d3d3d3;
  transform: scale(0.12);
}
.hamburger_container .hamburger_line {
  background-color: #d3d3d3;
  width: calc(10px + 3vw);
  height: 2px;
}
.hamburger_container .hamburger_line::after {
  position: absolute;
  content: "";
  background-color: #d3d3d3;
  width: calc(10px + 3vw);
  height: 2px;
  top: 30%;
  transform: translateY(-30%);
}
.hamburger_container .hamburger_line::before {
  position: absolute;
  content: "";
  background-color: #d3d3d3;
  width: calc(10px + 3vw);
  height: 2px;
  top: 70%;
  transform: translateY(-70%);
}

.hamburger_container:hover {
  transform: scale(1.2);
}

.hamburger_container:active {
  transform: scale(1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(209, 71, 90, 0.7), 0 0 0 0 rgba(209, 73, 91, 0.7);
  }
  40% {
    box-shadow: 0 0 0 20px rgba(209, 73, 91, 0), 0 0 0 0 rgba(209, 73, 91, 0.7);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(209, 73, 91, 0), 0 0 0 0px rgba(209, 73, 91, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(209, 73, 91, 0), 0 0 0 0px rgba(209, 73, 91, 0);
  }
}
.menu_wrapper {
  position: fixed;
  opacity: 0;
  z-index: 10;
}
.menu_wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu_wrapper ul li {
  transition: 0.1s ease-in-out;
}
.menu_wrapper ul li a {
  text-decoration: none;
  font-size: calc(2em + 6vw);
  font-weight: 600;
  color: #00798c;
}
.menu_wrapper ul li:hover {
  transform: scale(0.99);
}
.menu_wrapper ul li:active {
  transform: scale(0.97);
}

.menu_active {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: #edae49;
  transition: all 0.2s ease-in-out;
}

.menu_back_button {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: #00798c;
  width: calc(30px + 2vw);
  height: calc(30px + 2vw);
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_back_button .fa-arrow-left {
  transform: scale(1.8);
  color: #d3d3d3;
}

.invitation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}
.invitation .text_container {
  color: #00798c;
  font-size: 6em;
  font-size: calc(1em + 3vw);
  font-weight: normal;
  margin: 3rem 0 3rem 0;
}
.invitation .text_container .design_decoration {
  color: #ffb600;
  font-weight: bold;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #00798c;
}
.invitation .text_container .code_decoration {
  font-weight: bold;
  color: #d14657;
}

@media screen and (min-width: 1024px) {
  .invitation .text_container {
    margin: 8rem 0 8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .invitation .text_container .design_decoration {
    -webkit-text-stroke: 2px #00798c;
  }
}
.about_me {
  width: 100%;
  background-color: #f2f2f2;
}
.about_me .text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3em;
}
.about_me .text_container h2 {
  padding: 3rem 0 3rem 0;
  position: relative;
  color: #000000;
  font-size: calc(1em + 2vw);
  font-weight: bold;
  letter-spacing: 0.34em;
  z-index: 2;
}
.about_me .text_container h2::after {
  position: absolute;
  content: "";
  height: 20px;
  width: calc(60vw);
  background-color: #ffb600;
  background-color: #edae49;
  top: 55%;
  left: 2%;
  z-index: -1;
}
.about_me .text_container p {
  color: #000000;
  font-size: calc(1em + 1vw);
  font-weight: 200;
  margin: 0 2em 1em 2em;
}

@media screen and (min-width: 1024px) {
  .about_me {
    width: 100%;
  }
  .about_me .text_container {
    width: 100%;
    align-items: flex-start;
  }
  .about_me .text_container h2 {
    margin: 0 0 0 3em;
  }
  .about_me .text_container h2::after {
    position: absolute;
    content: "";
    height: 30px;
    width: calc(40vw);
    background-color: #ffb600;
    background-color: #edae49;
    top: 55%;
    left: 2%;
    z-index: -1;
  }
  .about_me .text_container p {
    margin: 0 2em 1em 9em;
    line-height: 1.2em;
  }
}
.welcome {
  color: #f2f2f2;
}
.welcome .text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0 3rem 0;
}
.welcome .text_container h2 {
  font-size: calc(1em + 3vw);
  font-weight: 300;
  letter-spacing: 0.055em;
}
.welcome .text_container p {
  font-size: calc(1em + 1vw);
  font-weight: 200;
  letter-spacing: 0.045em;
  margin: 0 0em 0 0em;
  padding: 0.8em 0;
}
.welcome .text_container img {
  transform: scale(0.6);
}

@media screen and (min-width: 1024px) {
  .welcome .text_container {
    padding: 10rem 0 10rem 0;
  }
  .welcome .text_container h2 {
    font-size: calc(1em + 4vw);
    font-weight: 500;
  }
  .welcome .text_container img {
    transform: scale(0.8);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Advent Pro", sans-serif;
  background-color: #00798c;
}

main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main h1 {
  font-size: calc(5em + 18vw);
  font-weight: 500;
  color: #edae49;
  position: relative;
  text-shadow: 6px 6px 0px #000000;
  margin-bottom: 0px;
}
main h2 {
  font-size: 12vw;
  font-size: calc(.5em + 4vw);
  font-weight: 300;
  color: #d3d3d3;
  transform: translateY(-30px);
  line-height: 1.3em;
  letter-spacing: 10px;
}
main img.code_boy {
  width: calc(25vw + 100px);
}
main .fa-angle-down {
  color: #d3d3d3;
  transform: scale(2);
  position: absolute;
  bottom: 10%;
  animation: arrowDown 1500ms linear infinite alternate;
}

@keyframes arrowDown {
  0% {
    opacity: 1;
    bottom: 10%;
  }
  100% {
    opacity: 0;
    bottom: 5%;
  }
}
@media screen and (min-width: 1024px) {
  main img.code_boy {
    position: absolute;
    width: 300px;
    height: 500px;
    transform: translate(-30vw, 42vh);
  }
}

/*# sourceMappingURL=index.css.map */
