@use './variables' as v;
@import './variables';

.invitation {
  @include flex_center;
  // height: 65vh;
  background-color: v.$gray;
  .text_container {
    color: v.$blue;
    font-size: 6em;
    font-size: calc(1em + 3vw);
    font-weight: normal;
    // transform: translateX(8vw);
    margin: 3rem 0 3rem 0;
    .design_decoration {
      color: v.$yellow;
      font-weight: bold;
      text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
      -webkit-text-stroke: 1px v.$blue;
    }
    .code_decoration {
      font-weight: bold;
      color: v.$red;
    }
  }
}

@media screen and (min-width: 1024px) {
  .invitation {
    .text_container {
      margin: 8rem 0 8rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // transform: translateX(7vw);
      .design_decoration {
        -webkit-text-stroke: 2px v.$blue;
      }
    }
  }
}